@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bodybox {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blurbox {
    width: 450px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.463);  
    backdrop-filter: blur(5px);
    border-radius: 40px;
    box-shadow: 0px 0px 150px 3px rgb(27, 27, 27);
}

.mainbox {
    width: 450px;
    height: 650px;
}

.container {
    width: 100%;
    height: 100%;
    background-color: rgba(93, 188, 104, 0.463);  
}

.butlog {
    border-radius: 40px;
    background-color: #9d4160;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    margin: 15px;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

.butreg {
    border-radius: 40px;
    background-color: #283b9c;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
}

.enterspan,
.regspan {
    position: relative;
    transition: 0.3s;
}

.enterspan:after,
.regspan:after {
    content: '\203A';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.3s;
}

.butlog:hover .enterspan,
.butreg:hover .regspan {
    padding-right: 25px;
}

.butlog:hover .enterspan:after,
.butreg:hover .regspan:after {
    opacity: 1;
    right: 0;
}

.log,
.pas,
.pas2,
.uname,
.psw,
.psw2,
.img {
    margin: 18px;
    display: flex;
    justify-content: center;
}

img {
    width: 125px;
    height: 125px;
}

input {
    border: none;
    border-radius: 40px;
    padding: 10px;
}

.uname,
.psw,
.psw2 {
    font-size: 18px;
}

input:focus{
    transform:scale(1.2);
    transition: 0.4s;
    box-shadow: 0px 0px 50px 3px rgba(195, 44, 82, 0.534);
}

#message {
    display: flex;
    justify-content: center;
}

body {
    background-image: url('source/bg.svg');
}